mixin dropdown(data, size, clear, apply, type)
  -const dropdownWhite = `dropdown-menu--${size}`;
  -const dropdownHeight = (clear || apply) ? `dropdown-menu--long` : `dropdown-menu--short`;
  -const dropdownType = (type === 'guests') ? 'guests' : 'comfort';
  -const dropdownActive = (value) => (value === 0) ? 'dropdown-item__modifier--inactive' : 'dropdown-item__modifier--active';

    .dropdown-menu(class = `${dropdownWhite} ${dropdownHeight}` data-type=dropdownType)
      each item in data
        .dropdown-menu__item.dropdown-item
          .dropdown-item__name.dropdown-item__text
            |#{item.name}
          .dropdown-item__counter
            .dropdown-item__symbol(data-type='minus')
              .dropdown-item__modifier(class=dropdownActive(item.count))
              .dropdown-item__symbol--minus
                |-
            .dropdown-item__count.dropdown-item__text
              |#{item.count}
            .dropdown-item__symbol(data-type='plus')
              .dropdown-item__modifier.dropdown-item__modifier--active
              .dropdown-item__symbol--plus
                |+
      if apply && clear
        .dropdown-menu__btns
          .dropdown-btn
            |Очистить
          .dropdown-btn
            |Применить
      else if apply
        .dropdown-menu__btn
          .dropdown-btn
            |Применить

